@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,200&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-color: #757575;
  --secondary-color: #212121;
  --text-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
  --background-body: #f5f5f5;
  --background-team: #f5f4fa;
  --header-border-bottom: #ececec;
  --border-color-clients-icon: #afb1b8;
  --hover-focus-color: #188ce8;
  --hero-background: #2f303a;
  --transition-property: cubic-bezier(0.4, 0, 0.2, 1);
  --color-address-footer: rgba(255, 255, 255, 0.6);
  --background-color-icon-footer: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --hero-background: rgba(47, 48, 58, 0.4);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --input-textarea-border: rgba(33, 33, 33, 0.2);
  --footer-icon-link: rgba(255, 255, 255, 0.1);
  --input-placeholder: rgba(255, 255, 255, 0.6);
  --background-overlay-text: rgba(33, 150, 243, 0.9);
  --portfolio-text-border: #eeeeee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* body */
body {
  background: var(--background-body);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--text-color);
  color: var(--secondary-color);
}

.container-portfolio {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  margin-right: 0;
}

.no-scroll {
  overflow: hidden;
}

/* header */
.header {
  display: flex;
  border-bottom: 1px solid var(--header-border-bottom);
  background: var(--text-color);
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* Logo header */
.header-navigation__web {
  color: var(--accent-color);
}

.header-navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}
.header-navigation__logo:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .header-navigation__logo {
    margin-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header-navigation__logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 215px;
  }
}

.footer-container__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container-footer___web {
  color: var(--accent-color);
}

/* site-nav */
.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-navigation__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-navigation__list {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }
}

.header-navigation__item {
  margin-right: 50px;
}

.header-navigation__link,
.header-navigation__link-current {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link:hover, .header-navigation__link:focus,
.header-navigation__link-current:hover,
.header-navigation__link-current:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header-navigation__link,
.header-navigation__link-current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-navigation__link-current {
  color: var(--accent-color);
}
.header-navigation__link-current::after {
  display: block;
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  top: 77px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* portfolio-nav */
.header-navigation__link-active-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link-active-current:hover, .header-navigation__link-active-current:focus {
  color: var(--accent-color);
}

.header-navigation__link-active-current {
  color: var(--accent-color);
}
.header-navigation__link-active-current::after {
  display: block;
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  top: 77px;
  background: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .header-navigation__list {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 97px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 318px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__list {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

/* section hero */
.hero {
  padding: 118px 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(var(--hero-background), var(--hero-background)), url(../img/studioimg/hero/mobile.jpg);
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-background), var(--hero-background)), url(../img/studioimg/hero/tablet.jpg);
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-background), var(--hero-background)), url(../img/studioimg/hero/desktop.jpg);
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 30px;
    width: 696px;
  }
}

/* skills-переваги */
.skills {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .skills {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.skills__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .skills__container {
    width: 1170px;
  }
}

.skills__list {
  gap: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .skills__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .skills__list {
    flex-wrap: nowrap;
  }
}

.skills__item {
  display: block;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .skills__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.skills__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-team);
  margin-bottom: 30px;
  border-radius: 4px;
}

.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: center;
}

.skills__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 10px;
}

/* чим займаемось */
.section-we-do {
  padding-top: 94px;
  padding-bottom: 0px;
  position: relative;
}
@media (max-width: 1199px) {
  .section-we-do {
    display: none;
  }
}

.container-we-do {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.product-work {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 370px;
}

.we-do-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-inline-start: 0px;
}

.img-block {
  display: block;
  width: 370px;
}

.we-do-work {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша Команда */
.section-team {
  background: var(--text-color);
}
@media screen and (min-width: 480px) {
  .section-team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section-team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    padding-inline-start: 0px;
  }
}

.team-item {
  margin-bottom: 30px;
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team-item {
    flex-basis: 270px;
  }
}

@media screen and (min-width: 480px) {
  .team-img {
    width: 450px;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .team-img {
    width: 354px;
  }
}

.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.teams-text {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.team-people {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--border-color-clients-icon);
  transition-property: color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover, .icon-link:focus {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.icon-svg {
  fill: currentColor;
}

/* Постійні клієнти */
.customers {
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-bottom: 94px;
    padding-top: 50px;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.customers__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--border-color-clients-icon);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers__logo-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__logo-link {
    width: 170px;
  }
}
.customers__logo-link:hover, .customers__logo-link:focus {
  color: var(--accent-color);
}

.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .customers__items {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.icon__group {
  fill: currentColor;
}

/* footer */
.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 768px;
  }
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background: var(--footer-color);
}

/* address */
.address-title .address-link {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
}

.address-title {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address-title {
    margin-right: 70px;
    text-align: start;
  }
}

.address-list .mail-list {
  margin-bottom: 9px;
}

.address-list .address-item {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .address-item:focus, .address-list .address-item:hover {
  color: var(--accent-color);
}

.address-title .mail-item,
.address-title .tel-item,
.address-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-address-footer);
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-title .mail-item:focus, .address-title .mail-item:hover,
.address-title .tel-item:focus,
.address-title .tel-item:hover,
.address-link:focus,
.address-link:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .address-title .mail-item,
.address-title .tel-item,
.address-link {
    margin-left: 115px;
  }
}

.address-item {
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .address-item {
    margin-left: 115px;
  }
}

/* Приєднуйтесь */
.container-social {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .container-social {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.content-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .content-title {
    text-align: start;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-icon-link);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:focus, .footer-icon-link:hover {
  background-color: var(--accent-color);
}

/* Підпишіться на розсилку */
.mailing-list {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .mailing-list {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-wrap {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .mailing-label {
    display: flex;
    justify-content: center;
  }
}

.mailing-list input::placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: var(--input-placeholder);
}

.mailing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .mailing-text {
    text-align: start;
  }
}

.mailing-wrap input {
  cursor: pointer;
  outline: none;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  color: var(--text-color);
  background: var(--footer-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-property: drop-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-wrap input:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mailing-wrap input {
    display: flex;
    margin-right: 12px;
    margin-left: 0;
    margin-bottom: 0;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-wrap input {
    display: flex;
    margin-right: 12px;
    margin-left: 0;
    margin-bottom: 0;
    width: 358px;
  }
}

.mailing-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.mailing-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  margin-left: 28px;
}

.icon-send {
  margin-left: 10px;
}

/* button studio */
.hero__button.pointer {
  cursor: pointer;
}

.hero__button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.99;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  background: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;
}
.hero__button:focus, .hero__button:hover {
  background: var(--hover-focus-color);
}

.checkbox-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition-property: background, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-btn:checked + .checkbox-btn {
  background: var(--accent-color);
  border: 0.2px solid var(--accent-color);
}

/* portfolio button */
.btn_portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
}

.btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--background-team);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: var(--text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.pointer:nth-child(5) {
  margin-right: 0;
}

.btn-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    max-height: 581px;
  }
}

.modal-form {
  margin-top: 12px;
}

.modal .close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close-button:hover, .modal .close-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  color: var(--secondary-color);
}
@media screen and (min-width: 480px) {
  .modal-title {
    padding-top: 12px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .modal-title {
    padding-top: 12px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15px;
    text-align: center;
  }
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  cursor: pointer;
}

.form-element label {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: var(--primary-color);
}

.accept label {
  display: contents;
  color: var(--primary-color);
}
@media screen and (min-width: 1600px) {
  .accept label {
    display: contents;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
  }
}

.input-wrap {
  position: relative;
  padding-top: 4px;
}

.form-element svg {
  position: absolute;
  top: 28px;
  left: 12px;
  transform: translateY(-50%);
}

.form-element input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid var(--input-textarea-border);
  border-radius: 4px;
  outline: none;
  transition-property: border, fill, svg;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element input:focus {
  border: 1px solid var(--accent-color);
}
.form-element input:focus + svg {
  fill: var(--accent-color);
}

.form-element textarea {
  font-weight: 400;
  font-size: 12px;
  /* line-height: 1.7px; */
  letter-spacing: 0.01em;
  padding: 12px 16px;
  height: 138px;
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid var(--input-textarea-border);
  border-radius: 4px;
  margin-top: 10px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.accept {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 11px;
}

.checkbox-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition-property: background, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accept input:checked + .checkbox-btn {
  background: var(--accent-color);
  border: 0.2px solid var(--accent-color);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .agree {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
  }
}

.agree-link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.submit-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.submit-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 30px auto 40px;
  background-color: var(--accent-color);
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-modal:hover {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 480px) {
  .menu-container {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background: var(--text-color);
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.menu-open-btn {
  margin-left: auto;
  padding: 10px 15px;
  background: var(--text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  padding-top: 10px;
  cursor: pointer;
  background: var(--text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-close-btn {
    display: none;
  }
}

.menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: var(--accent-color);
}

.menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-navigation__link--current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
}

.menu-navigation__link--current {
  color: var(--accent-color);
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__list {
  margin-top: 306px;
}

.tel-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
}

.mail-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color);
}

.menu-link {
  display: flex;
  margin-top: 64px;
}

.menu-link__socials {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-link__socials:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-link__socials:not(:first-child) {
  padding-left: 10px;
}

.menu-link__socials-item {
  text-decoration: none;
  color: var(--accent-color);
}

/* Portfolio Project */
.portfolio-title {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  flex-basis: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  gap: 30px;
}
.portfolio-list:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-list:hover .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-sample {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  /* margin-top: 20px; */
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--background-overlay-text);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 4px;
}

.porfolio-text {
  padding: 20px 24px 20px 24px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid var(--portfolio-text-border);
  border-top: 0;
}/*# sourceMappingURL=main.css.map */