/* address */

.address-title .address-link {
    color: var(--text-color);
    text-decoration: none;
    font-style: normal;


  }
  .address-title {
    text-align: center;
    @media  screen and ( min-width: 1200px) {
    
    }
  }
  .address-list  .mail-list {
    margin-bottom: 9px;
  }
  // .mail-list {
  //   margin-bottom: 9px;
  // }
  
  .address-list .address-item {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: var(--accent-color);
    }

   
}
  
  .address-title .mail-item,
  .address-title .tel-item,
  .address-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-address-footer);
    letter-spacing: 0.03em;

    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:focus,
    &:hover {
      color: var(--accent-color);
    }

    @media  screen and ( min-width: 1200px) {
      margin-left: 115px;
    }
  }
  
  .address-item {
    display: inline-block;
    @media  screen and ( min-width: 1200px) {
      margin-left: 115px;
    }
  }
  /* Приєднуйтесь */
  
  .container-social {
    margin-top: 60px;

    @media  screen and ( min-width: 1200px) {
      margin-left: 70px;
    }
  }
  
  .content-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
  }
  
  .footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --footer-icon-link);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
    background-color: var(--accent-color);
    }
  }
  