.footer__tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
}

.footer__nav {

  @media screen and (min-width: 767px) {
    display: inline-block;
  }

}

.footer__list {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer__address{
  font-size: 14px;
line-height: 1.14;


letter-spacing: 0.03em;

  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
}

.footer__item-address {
  margin-bottom: 12px;
}


.footer__item-mail {
  margin-bottom: 12px;
}
.footer__mail,
.footer__tel {
  font-size: 14px;
  line-height: 1.14;
  color: var(--cont-footer);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


   &:hover,
   &:hover { color: var(--accent-color);
  }
  
}