/* footer */

.footer-container {
 
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
}
// .container-footer {
//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//   }
// }

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background: var(--footer-color);
}
