 /* header */
 .header {
// width: 480px;
display: flex;
border-bottom: 1px solid var(--header-border-bottom);
background: var(--text-color);



  @include tablet {
    
    height: 80px;
    }
  
    @include desktop {
     
    
     padding-bottom: 32px; 
     display: block;
    }
  
  }
  .header__container {


    @include desktop {
      
    padding-top: 32px;
    padding-bottom: 32px; 
    display: block;
   
     }
  } 
