 /* header */
 .header {
  border-bottom: 1px solid var(--header-border-bottom);
  background: var(--text-color);

  .header__container {
    display: block;
    /* padding-top: 32px;
    padding-bottom: 32px; */
    
  }
}
