/* section hero */
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--hero-background);
  
    background-image: linear-gradient(
        var(--hero-background),
        var(--hero-background)
      ),
      url(../img/studioimg/heroimg.jpg);
  }
  
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--text-color);
  
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }