
body {
    font-family: Roboto, sans-serif;
    background-color: var(--text-color);
  }
  .container {
   
    margin: 0 auto;
    padding: 0 15px;
  
    @media screen and (min-width: 481px) {
      max-width: 480px;
    }

    @media screen and (min-width: 769px) {
      max-width: 768px;
    }

    @media  screen and (min-width: 1200px) { 
      max-width: 1200px;
    }
    // outline: solid red 2px;
  }