h1,
h2,
h3,
p {
 margin: 0px;
  padding: 0px;
}
button {
  font-family: inherit;
  padding: 0px;
  margin: 0px;
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
div {
  margin: 0px;
}


li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.no-scroll {
  overflow: hidden;
}